<h2 id="title">Welcome to Ember.js and JWT authentication</h2>

{{#if isLogged}}
  <p> You are logged in </p>
  <p><button {{action "logout"}}>Logout</button></p>
{{else}}
  <p>{{#link-to "login" tagName="button"}}Login{{/link-to}}</p>
{{/if}}

{{outlet}}